
h1 {
    color: lightcoral;
    height: auto;
    width: fit-content;
    background: -webkit-radial-gradient(top left, circle,green 20%, yellow 60%, blue 80%);

}
div.first{
    height: 400px;
    width: 400px;
    color: #f1ff;
    background: url("./images/InkedFilipsKalas2_LIklipp.jpg") no-repeat 50% 50%;
    background-size: contain;
}

div.text1 {
    width: 400px;
    margin: 19px;
    }

div.text2 {
width: 400px;
color: rgb(53, 25, 179);
}